@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: 1px solid limegreen;
  border-radius: 4px;
  padding: 1rem 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-weight: 400;
  background-color: transparent;
}

select {
  background-color: whitesmoke;
  color: black;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: limegreen;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation-name: slide-in;
  animation-duration: 2s; /* changed from 1s to 5s */
  animation-fill-mode: both;
}

label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
}
