@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: 1px solid limegreen;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: limegreen;
}

label {
  display: block;
  font-weight: 600;
  font-size: 1rem;
}
